*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/body.svg);
    /*background: rgb(166,249,198);
background: linear-gradient(150deg, rgba(166,249,198,1) 0%, rgba(232,255,161,1) 49%, rgba(249,126,126,1) 100%);*/
/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1331%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1332)'%3e%3c/rect%3e%3cpath d='M57.33%2c128.008C87.653%2c127.052%2c111.606%2c105.215%2c126.545%2c78.81C141.218%2c52.875%2c145.6%2c22.235%2c132.24%2c-4.4C117.375%2c-34.036%2c90.483%2c-59.548%2c57.33%2c-59.18C24.63%2c-58.817%2c0.816%2c-31.527%2c-14.754%2c-2.769C-29.442%2c24.359%2c-34.771%2c56.409%2c-19.879%2c83.426C-4.503%2c111.321%2c25.494%2c129.012%2c57.33%2c128.008' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M702.1764573705747 236.07294097919151L584.3274741242915 246.38339102129783 594.6379241663979 364.232374267581 712.486907412681 353.92192422547464z' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M73.42 388.48 a122.67 122.67 0 1 0 245.34 0 a122.67 122.67 0 1 0 -245.34 0z' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M902.9657271363576 39.71143346638773L837.0537960317655 194.5796899680501 983.3780005255514 179.2003963538723z' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M771.598%2c583.464C802.863%2c582.17%2c831.259%2c566.23%2c847.257%2c539.336C863.64%2c511.794%2c866.503%2c477.853%2c851.154%2c449.722C835.161%2c420.41%2c804.947%2c402.343%2c771.598%2c400.67C734.875%2c398.828%2c695.836%2c409.462%2c676.903%2c440.982C657.521%2c473.249%2c663.414%2c514.736%2c684.249%2c546.085C703.037%2c574.355%2c737.683%2c584.868%2c771.598%2c583.464' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1155.4440106204388 500.8188797072652L1103.7207920282033 436.9460241408725 1033.773117974732 546.4672798124224z' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1053.569%2c498.195C1092.409%2c495.552%2c1115.522%2c459.268%2c1134.586%2c425.325C1153.097%2c392.367%2c1171.575%2c354.066%2c1153.015%2c321.135C1134.241%2c287.825%2c1091.805%2c281.513%2c1053.569%2c281.577C1015.479%2c281.64%2c975.612%2c289.633%2c954.695%2c321.466C931.855%2c356.227%2c930.596%2c401.526%2c950.904%2c437.824C971.679%2c474.958%2c1011.117%2c501.084%2c1053.569%2c498.195' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1294.0556836382082 603.9749894383641L1409.6014455070804 601.9581306627625 1292.0388248626066 488.4292275694919z' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1026.533%2c129.639C1053.852%2c128.34%2c1079.183%2c117.367%2c1094.733%2c94.868C1113.063%2c68.347%2c1127.793%2c34.257%2c1111.806%2c6.261C1095.742%2c-21.871%2c1058.926%2c-24.94%2c1026.533%2c-24.565C995.014%2c-24.2%2c961.525%2c-18.404%2c944.611%2c8.195C926.639%2c36.459%2c927.364%2c74.167%2c946.095%2c101.934C963.093%2c127.132%2c996.172%2c131.082%2c1026.533%2c129.639' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M562.8789448511327 276.65765388001324L465.1090194620493 151.51785599811427 437.73914696923373 374.42757926909667z' fill='rgba(190%2c 255%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1331'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1332'%3e%3cstop stop-color='rgba(30%2c 66%2c 104%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(154%2c 237%2c 201%2c 1)' offset='0.78'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");*/
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
    width: 100%;
    height: 100px;
}

nav .logo{
    font-size: 2.3rem;
    background: -webkit-linear-gradient(120deg, hsl(0, 100%, 50%),hsl(239, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul{
    text-transform: uppercase;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 35px;
    font-size: 1.2rem;
}

nav a{
    background: -webkit-linear-gradient(120deg, hsl(0, 100%, 50%), hsl(236, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

nav a:hover{
    border-bottom: 2px solid hsl(239, 69%, 51%);
    transition: 1s;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 400px;
}

/*.content img{
    width: 25rem;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}*/

.introduction{
    background: -webkit-linear-gradient(120deg, hsl(189, 100%, 50%), hsl(239, 69%, 51%));
    /*background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 300px;
    height: 400px;
    font-size: 1.5rem;
    font-weight: 480;
    margin-top: 200px;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}



#carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .slide .info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
  }
  
  .slide .info h3, .slide .info p {
    margin: 0;
  }
  
  .slide .info .btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  