/* Estilos para pantallas pequeñas */

@media only screen and (max-width: 480px) and (max-width: 601px) {

    nav {
      flex-direction: column;
      gap: 20px;
      height: auto;
    }
    
    nav .logo {
      font-size: 1.8rem;
    }
    
    nav ul {
      flex-direction: column;
      gap: 10px;
      font-size: 1rem;
    }
  
    .content {
      flex-direction: column;
      gap: 20px;
    }
  
    .content img {
      width: 15rem;
    }
  
    .introduction {
      width: 100%;
      height: auto;
      font-size: 1.2rem;
    }
  
  }
  
  /* Estilos para pantallas medianas y grandes */
  
  @media only screen and (min-width: 601px) {
  
    nav {
      gap: 50px;
    }
    
    nav .logo {
      font-size: 2.3rem;
    }
    
    nav ul {
      font-size: 1.2rem;
    }
  
    .content {
      gap: 50px;
    }
  
    .content img {
      width: 25rem;
    }
  
    .introduction {
      width: 300px;
      height: 400px;
      font-size: 1.5rem;
      margin-top: 200px;
    }
  
  }
  
  /* Estilos para tablets */

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    nav {
      gap: 30px;
      height: 80px;
    }
    
    nav .logo {
      font-size: 2rem;
    }
    
    nav ul {
      font-size: 1.1rem;
    }
  
    .content {
      flex-direction: column;
      gap: 30px;
    }
  
    .content img {
      width: 20rem;
    }
  
    .introduction {
      width: 250px;
      height: 350px;
      font-size: 1.3rem;
      margin-top: 100px;
    }
  
  }
  
  /* Estilos para laptops y computadoras de escritorio */
  
  @media only screen and (min-width: 1025px) {
  
    nav {
      gap: 50px;
      height: 100px;
    }
    
    nav .logo {
      font-size: 2.5rem;
    }
    
    nav ul {
      font-size: 1.2rem;
    }
  
    .content {
      gap: 50px;
    }
  
    .content img {
      width: 25rem;
    }
  
    .introduction {
      width: 300px;
      height: 400px;
      font-size: 1.5rem;
      margin-top: 200px;
    }
  
  }
  